{% extends 'base.html' %}
{% load static %}
{% block title %}POST LIST{% endblock %}
{% block content %}
     <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
  <style>
          h1 {
  font-family: 'Tangerine', serif;
  font-size: 100px;
  text-shadow: 4px 4px 4px #aaa;
}
        /* Add the style to set the background color to light pink */
        .py-1 {
            background-image:  url('/static/images/glitter.jpg');
            background-size: cover; /* This will make the image cover the entire section */
            background-position: center;
        }
    </style>

<body>
    <section class="py-1 text-center container py-lg-5">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Beauty tips for everyone</h1>
                <p class="lead text-body-secondary">Currently {{ posts.count }} post</p>
                <p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_create' %}" class="btn btn-light my-2">Create post</a>
                    {% endif %}
                    <form action="{% url 'post_search' %}" method="GET" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light my-2" type="submit">Search</button>
                    </form>
                </p>
            </div>
        </div>
    </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for post in posts %}
        <div class="col">
          <div class="card shadow-sm">
            {% if post.course.image %}
                        <img class="course-img" src="{{ post.course.image }}" alt="course image" style="width: 400px; height: 300px;">
              {% elif post.treatment.photo_treatment %}
                 <img class="course-img" src="{{ post.treatment.photo_treatment }}" alt="course image" style="width: 400px; height: 300px;">

            {% else %}
              <img class="course-img" src="{% static 'images/logo.png' %}" alt="course image" style="width: 400px; height: 300px;">
              {% endif %}
            <div class="card-body">
              <p class="card-text">{{ post.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
{#                        {% if user.is_authenticated %}#}
{#                          <a class="btn btn-dark rounded-pill px-3" type="button" href="{% url 'post_edit' pk=post.pk %}">Edit</a>#}
{#                    {% endif %}#}
                          <a class="btn btn-dark rounded-pill px-3" type="button" href="{% url 'post_details' pk=post.pk %}">View</a>
                </div>
                <small class="text-body-secondary">Status: {{ post.created_at}}</small>
              </div>
            </div>
          </div>
        </div>
          {% endfor%}
      </div>
    </div>
  </div>

{% endblock %}